:root {
  --nav-logo-height: 60px;
  --nav-logo-height-small: 36px;
  --nav-font-size-m: 18px;
  --nav-font-size-s: 14px;
  --nav-font-size-xs: 11px;
}

/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 99;
  position: fixed;
}

header nav {
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / 50px 1fr 50px;
  align-items: center;
  gap: 0 2em;
  margin: auto;
  max-width: 1220px;
  height: var(--nav-height);
  padding: 0 1rem;
  box-sizing: border-box;
  font-family: var(--body-font-family);
}

/* Logo */
header nav .nav-logo {
  flex: 0 0 300px;
}

header nav .nav-logo img {
  height: var(--nav-logo-height-small);
}

header nav .nav-logo .logo-description {
  display: inline-block;
  padding: 0 16px;
  vertical-align: bottom;
}

header nav .nav-logo .logo-description p {
  font-size: var(--nav-font-size-xs);
  text-align: center;
  line-height: 0.5rem;
}

header nav .nav-logo .logo-description p.name {
  text-transform: uppercase;
  color: var(--link-color);
}

header nav .nav-logo .logo-description p.baseline span {
  display: inline-block;
  font-variant: small-caps;
  padding: 0 2px;
}

header nav .nav-logo .logo-description p.baseline span::first-letter {
  color: var(--link-color);
  font-weight: bold;
}

header nav .nav-logo .logo-description p.baseline span.dot {
  vertical-align: middle;
}

header nav a:any-link {
  color: currentcolor;
}

header nav[aria-expanded='true'] {
  grid-template: 'hamburger logo' 'sections sections' 'tools tools';
  grid-template-columns: 50px 1fr;
  grid-template-rows: var(--nav-height) auto;
  overflow-y: scroll;
  min-height: 100vh;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  padding-top: 3px;
  cursor: pointer;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::after,
header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  top: 8px;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after,
header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  content: '';
  position: absolute;
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 5px;
  transform: translate(-3px, -2px);
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after,
header nav[aria-expanded='true'] .nav-hamburger-icon::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 22px;
  height: 2px;
  background: currentcolor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  transform: rotate(-45deg)
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex-direction: column;
  display: none;
  background-color: var(--overlay-color);
  flex: 1 1 auto;
}

header nav .nav-sections ul  {
  list-style: none;
  padding-left: 0;
} 

header nav .nav-sections li {
  font-size: var(--nav-font-size-m);
  font-weight: bolder;
}

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  align-self: flex-start;
  line-height: 3rem;
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
  flex: 0 0 auto;
  height: 22px;
}

header nav .nav-tools p {
  margin: 0;
}

header nav[aria-expanded='true'] .nav-tools img {
  display: unset;
}

header nav[aria-expanded='true'] .nav-tools ul {
  font-size: unset;
  flex-direction: column;
}

header nav[aria-expanded='true'] .nav-tools li {
  padding: 0;
}

/* desktop nav styles */
@media (min-width: 1000px) {
  header nav {
    display: flex;
    justify-content: space-between;
  }

  header nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
  }

  header nav .nav-sections > ul > li.nav-drop {
    position: relative;
    padding-right: 32px;
  }

  header nav .nav-drop::after {
    content: ' ';
    border: 1px solid currentolor;
    transform: rotate(135deg);
    border-width: 2px 2px 0 0;
    display: inline-block;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 8px;
    right: 14px;
  }

  /* Logo */
  header nav .nav-logo img {
    height: var(--nav-logo-height);
  }

  header nav .nav-logo .logo-description p {
    font-size: var(--nav-font-size-s);
  }

  header nav .nav-hamburger {
    display: none;
  }

  header nav .nav-sections {
    display: unset;
  }

  header nav .nav-sections ul {
    display: flex;
    flex-direction: row;
    background-color: unset;
    width: unset;
    margin: 0;
  }
  
  header nav[aria-expanded='true'] .nav-sections ol {
    display: flex;
    min-height: unset;
  }

  header nav .nav-sections > ul > li {
    padding: 0 16px;
    position: relative;
    font-size: var(--nav-font-size-s);
    margin: 0;
    cursor: pointer;
    padding-top: 0;
  }

  header nav .nav-sections > ul > li > p {
    margin: 0;
  }

  header nav .nav-sections > ul > li > ul {
    margin-top: 20px;
    display: none;
    position: relative;
  }

  header nav .nav-sections > ul > li > ul::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;    
    border-bottom: 15px solid var(--highlight-background-color);
    top: -15px;
    left: 20px;
  }


  header nav .nav-sections > ul > li > ul > li {
    font-size: var(--nav-font-size-m);
    padding: 8px 16px;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] ul {
    display: block;
    position: absolute;
    background-color: var(--highlight-background-color);
    width: 400px;
    left: 0;
    padding: 16px;
    box-shadow: 0 0 5px var(text-color);
  }
}
