footer {
  padding: 2rem;
  background-color: var(--overlay-background-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .footer ul {
  list-style: none;
}

footer .footer li {
  padding: 0 20px;
}

@media (min-width: 600px) {
  footer .footer ul {
    display: flex;
  }
}